# Declares that this is the top-level configuration
root = true

# Applies to all files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

# Applies to all Markdown files
[*.md]
trim_trailing_whitespace = false

# Applies to all C# and Java files, overriding rules declared before
[makefile]
indent_style = tab
indent_size = 4
